:root {
  --CorManhã: #13678a;
  --CorTarde: #f2ae2e;
  --CorNoite: #262626;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--CorManhã);
}

header {
  color: white;
  text-align: center;
}

section {
  width: 500px;
  padding: 15px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

div#Paragrafo {
  text-align: center;
}

div#Foto {
  text-align: center;
  margin: 15px;
}

footer {
  font-style: italic;
  text-align: center;
  color: white;
}
